@import url('https://www.dafontfree.net/embed/bWFsZ3VuLWdvdGhpYy1ib2xkJmRhdGEvNDkvbS8zODI0OC9tYWxndW5iZC50dGY');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'malgun-gothic-bold', sans-serif;
}